<form [formGroup]="form" (ngSubmit)="submitForm()">
  <label for="title" i18n="label title|Label for the title input@@BookFormComponentLabelTitle">Title</label>
  <input id="title" formControlName="title">
  <bm-form-errors
    controlName="title"
    [messages]="errorsTranslated('title')">
  </bm-form-errors>

  <label for="subtitle" i18n="label subtitle|Label for the subtitle input@@BookFormComponentLabelSubtitle">Subtitle</label>
  <input id="subtitle" formControlName="subtitle">

  <label for="isbn" i18n="label isbn|Label for the ISBN input@@BookFormComponentLabelIsbn">ISBN</label>
  <input id="isbn" formControlName="isbn">
  <bm-form-errors
    controlName="isbn"
    [messages]="errorsTranslated('isbn')">
  </bm-form-errors>

  <label i18n="label authors|Label for the authors inputs@@BookFormComponentLabelAuthors">Authors</label>
  <button type="button" class="add"
    (click)="addAuthorControl()"
    i18n="button add author|Text for the button to add an author input@@BookFormComponentAddAuthor">
    + Author
  </button>
  <fieldset formArrayName="authors">
    <input
      *ngFor="let a of authors.controls; index as i"
      [attr.aria-label]="'Author ' + i"
      [formControlName]="i">
  </fieldset>
  <bm-form-errors
    controlName="authors"
    [messages]="errorsTranslated('authors')">
  </bm-form-errors>

  <label for="description" i18n="label description|Label for the description text@@BookFormComponentLabelDescription">Description</label>
  <textarea id="description" formControlName="description"></textarea>

  <label for="published" i18n="label published|Label for the published input@@BookFormComponentLabelPublished">Published</label>
  <input type="date" useValueAsLocalIso id="published" formControlName="published">

  <label for="thumbnailUrl" i18n="label thumbnail|Label for the thumbnail input@@BookFormComponentLabelThumbnail">Thumbnail URL</label>
  <input type="url" id="thumbnailUrl" formControlName="thumbnailUrl">

  <button type="submit" [disabled]="form.invalid" i18n="button save|Text for save button@@BookFormComponentSave">
    Save
  </button>
</form>
